//-----------------------------

.block {
  display: block;
}

.inl-block{
  display: inline-block;
}

//-----------------------------

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

//-----------------------------

.center {
  margin: 0 auto;
  text-align: center;
}

.left {
  text-align: left;
}

//-----------------------------

$white:       #FFFFFF;
$gray:        #65615d;
$light-gray:  #CCCCCC;
$red:         #85272D;
$green:       #B6CEBF;

//-----------------------------
