@import "../global";

.hero{
  background-color: $green;
}

.svgContainerMoose{
  margin: 1rem;
  height: 20rem;
}

.inputGroup{
  background-color: $white;
  color: $gray;
  border-radius: 3rem;
  padding: 5rem 1rem 2rem 1rem;
  width: 92%;
}

.loginGroup {
  margin-bottom: 1rem;
  padding: 1rem;
}

.inp {
  width: 100%;
  border: none;
  border-bottom: 0.1rem solid $light-gray;

  &:focus{
    outline: none;
  }
}

label {
  color: $gray;
  pointer-events: none;
  left: 1rem;
  top: 1rem;
  @extend %trnst;
}

.inp:focus ~ label, .inp:valid ~ label {
  top: -1.2rem;
  font-size: 1.5rem;
  color: $red;
}

.bar {
  width: 100%;

  &:before, &:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    background: $red;
    @extend %trnst;
  }

  &:before {
    left: 50%;
  }
  &:after {
    right: 50%;
  }
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

button{
  width: 70%;
  height: 4rem;
  border: 0.2rem solid $gray;
  border-radius: 2rem;
  color: $gray;
  background-color: transparent;
  margin: 1.5rem;
  outline: none;
}

button:hover{
  color: $red;
  border-color: $red;
}

.svgContainerLegs{
  //background-color: #FFFFFF;
}

@media (min-width: 550px) {
  .inputGroup{
    width: 60%;
  }
}

@media (min-width: 900px) {
  .inputGroup{
    width: 35%;
  }
}

.helper{
  width: auto;
  overflow:auto;
  top: 30.5rem;
  left: 18rem;
}